.error-banner {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4d4f;
  color: white;
  padding: 1em 2em;
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  z-index: 9999;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1em;
}

.error-banner-close {
  margin-left: auto;
  cursor: pointer;
  font-size: 1.3rem;
}
