.app-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0 0;
}

.app-header_logo {
  width: 100px;
  height: 100px;
}

.app-header_title {
  font-size: 2.8rem;
  font-weight: bold;
  font-style: italic;
  color: var(--yellow);              
  -webkit-text-stroke: 3px var(--brown); 
  text-shadow: var(--shadow);
}


@media (min-width: 768px) {
  .app-header_title {
    font-size: 4rem;
  }
  .app-header_logo {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 1024px) {
  .app-header_title {
    font-size: 5rem;
  }
  .app-header_logo {
    width: 150px;
    height: 150px;
  }
}
