.input-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; 
  width: 100%;
}

.input-field-container label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.input-field-container input {
  padding: 0.8rem 1rem;
  border: 2px solid var(--brown);
  border-radius: var(--radius);
  font-size: 1rem;
  width: 100%;
  height: 3rem;           
  box-shadow: var(--shadow);
  box-sizing: border-box;
  background-color: var(--white);
}

.input-field-container input:focus {
  outline: none;
  border-color: var(--orange);
}

.input-field-error, .input-field-valid {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  display: block;
}