.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background-image: url('../../assets/background.jpg');
  padding: 2rem;
  border-radius: var(--radius);
  width: 90%;
  max-width: 500px;
  box-shadow: var(--shadow);
  position: relative;
  border: 2px solid var(--brown);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.219);
  font-size: 1.1rem;
}

.modal-body {
  margin-top: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.modal-body button {
  width: 100%; 
  margin-top: 0.8rem;
}

.close-btn {
  background-color: var(--brown);
  color: var(--yellow);
  border: 2px solid var(--brown);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.close-btn:hover {
  background-color: var(--orange);
  color: var(--brown);
  transform: translateY(-2px);
}