.register-container {
  max-width: 400px;
  margin: 80px auto;
  text-align: center;
}

.register-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.register-form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.register-error {
  color: red;
  margin-bottom: 10px;
}

.role-select {
  margin: 10px 0;
}

.role-select label {
  margin-right: 15px;
}