.app-header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.app-header_logo {
  width: 150px; 
  height: 150px;
  margin-right: 1rem;
}

.app-header_title {
  font-size: 5.5rem;
  font-weight: bold;
  color: #5C3113; 
  margin: 0;
}
