.edit-user-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
}

.edit-user-container h2 {
  justify-self: center;
  margin-bottom: 1.2rem;
}

.edit-user-container form > div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-user-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 1rem;
}

.delete-btn {
  background-color: var(--brown);
  color: var(--yellow);
  border: 2px solid var(--brown);
}

.delete-btn:hover {
  background-color: var(--orange);
  color: var(--brown);
}

/* iPad */
@media (min-width: 768px) {
  .edit-user-container form {
    max-width: 400px; 
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .edit-user-container form {
    max-width: 500px; 
  }
}
