.family-choreboard {    
  max-width: 1300px;  
  margin: 0 auto;     
  text-align: center;
}

.family-choreboard > .family-header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  margin-bottom: 2rem;
}

.h2-week {
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.family-wrapper {
  border-radius: var(--radius);
  padding: 1rem;
  max-width: 1300px;
  width: 100%;  
  align-items: stretch;
  margin: 0 auto;
}

.h2-family-name {
  margin-bottom: 0rem;   
  font-style: italic;
}

.family-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.parents-section > strong,
.children-section > strong {
  font-size: 1.5rem; 
  margin-bottom: 1rem;
  display: block;
  color: var(--brown);
}

.parents-section {
  margin-bottom: 0.5rem; 
}

.children-section {
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}

.member-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  
}

.member-card {
  background-color: var(--white);
  border: 2px solid var(--brown);
  border-radius: var(--radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 325px;
}

.child-card .stats {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
}

.child-card .stats > div {
  display: flex;
  gap: 0.3rem;
  white-space: nowrap;
}

.member-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--brown);
}

.label {
  font-weight: bolder;
  color: var(--gray-dark);
}

.member-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.member-actions button {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.member-actions .danger {
  background-color: var(--brown);
  color: var(--yellow);
  border: 2px solid var(--brown);
  border-radius: var(--radius);
  transition: all 0.2s ease;
}

.member-actions .danger:hover {
  background-color: var(--orange);
  color: var(--brown);
  transform: translateY(-2px);
}

.family-actions {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center; 
  width: 100%;
  max-width: 600px;
}

.family-actions button {
  padding: 0.7rem;
  font-size: 1rem;
  width: 100%; 
}

.remove-btn {
  background-color: var(--brown);
  color: var(--yellow);
  border: 2px solid var(--brown);
}

.remove-btn:hover {
  background-color: var(--orange);
  color: var(--brown);
}


.family-image {
  display: block;   
  margin: 1rem auto;
  width: 350px;
  height: auto;
  filter: drop-shadow(0 3px 6px rgba(0,0,0,0.25));
}

.choreboard-wrapper {
  padding: 1.6rem;
  margin-top: 1.5rem;
}

.family-choreboard-columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;             
  width: 100%;
}

.chore-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;  
  margin-bottom: 2rem;
}

h3 {
  text-align: center; 
  font-size: 1.8rem;
}

.chore-card {
  text-align: center; 
  background-color: var(--white);
  border: 2px solid var(--brown);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem; 
}

.chore-card h3 {
  margin-bottom: 0.2rem;
  font-size: 1.2rem; 
  font-weight: bold;
  color: var(--brown);
}

.chore-card p {
  font-size: 1rem;
  margin: 0; 
}

.chore-actions {
  display: flex;           
  flex-wrap: wrap;         
  gap: 0.3rem 0.3rem;    
  justify-content: center; 
}

.chore-actions button {
  padding: 0.5rem;        
  font-size: 1rem;
}

.chore-filter {
  max-width: 300px; 
  margin: 1rem auto; 
  text-align: center;
}

.found-user {
    text-align: center;
    font-weight: bold;
}

.error {
    text-align: center;
    margin-top: 0.4rem;
}

.no-chores {
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
}

.chore-submit label{
    margin-bottom: 0;
}

.submission-image {
  width: 200px;
  height: auto;
  border-radius: 6px;
  
}

.preview-images {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.preview-images img {
  max-height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

select {
  color: var(--brown);
  accent-color: var(--brown);
  padding: 0.5rem;
}

input[type="date"] {
  color: var(--brown); 
  accent-color: var(--brown);
  padding: 0.5rem;
  width: auto;
  max-width: fit-content;
}

@media (min-width: 768px) {
  .family-choreboard-columns {
    flex-direction: row;
    gap: 1rem; 
  }

  .family-actions {
    flex-direction: row; 
    justify-content: center; 
    width: auto;
    max-width: unset;
  }

  .family-actions button {
    width: auto;
    min-width: 120px;
  }

  .parents-section .member-cards,
  .children-section .member-cards {
    margin-left: auto;
    margin-right: auto;
  }

   .family-image {
    width: 500px;
  }

  .preview-images img {
   max-height: 300px;
  }
}

@media (min-width: 1024px) {
  .family-choreboard-columns {
    max-width: 1200px;
    margin: 0 auto;
  }

  .child-card .stats {
    flex-direction: row; 
  }
}
