.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
  text-align: center;
  padding: 0.5rem;
}

.landing-image {
  width: 350px;
  height: auto;
  margin-bottom: 1.5rem;
  filter: drop-shadow(0 3px 6px rgba(0,0,0,0.25));
}

.landing-buttons {
  justify-self: center;
  display: flex;
  flex-direction: column;   
  gap: 1rem;               
  width: 100%;
  max-width: 260px;       
}

.landing-btn {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.landing-title {
  font-size: 2.2rem;
  color: var(--brown);
  text-shadow: var(--shadow);
  margin-top: 2rem;
}

.landing-info {
  background-color: var(--white);
  border: 2px solid var(--brown);
  border-radius: var(--radius);
  padding: 1.5rem 1.5rem;
  margin: 1.5rem 0;
  box-shadow: var(--shadow);
  text-align: center;
  max-width: 1000px;
  width: 95%;
}

.landing-info h3 {
  padding-bottom: 1rem;  
}

.landing-info p {
  color: var(--brown);
  font-size: 1.1rem;
  line-height: 1.5;
}

.landing-info p:nth-child(1n) {
  margin-bottom: 2rem;  
}

/* iPad */
@media (min-width: 768px) {
  .landing-image {
    width: 500px;
    margin-bottom: 2rem;
  }

  .landing-buttons {
    flex-direction: row; 
    max-width: 420px;
  }

  .landing-btn {
    width: 50%;
  }
  
  .landing-title {
    font-size: 2.5rem;
  }

  .landing-info p {
    font-size: 1.2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .landing-image {
    margin-bottom: 2.5rem;
  }

  .landing-buttons {
    max-width: 480px;
  }

  .landing-title {
    font-size: 3rem;
  }

  .landing-info p {
    font-size: 1.3rem;
  }
}