.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
  text-align: center;
}

.notfound-image {
  width: 220px;
  height: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(0 3px 6px rgba(0,0,0,0.25));
}

/* iPad */
@media (min-width: 768px) {
  .notfound-image {
  width: 300px;
  }
}