/* GLOBAL VARIABLES */
:root {
  --brown: #5C3113;
  --yellow: #FFCD59;
  --orange: #F5A732;
  --white: #faefdf;
  --bg: #f8da95;

  --radius: 30px;
  --shadow: 2px 3px 2px rgba(0, 0, 0, 0.219);
}

/* PAGE RESET + ACCESSIBILITY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  background-color: var(--bg);
  color: var(--brown);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto; 
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* GLOBAL LAYOUT */
body {
  display: flex;
  flex-direction: column;
}

/* H1 */
h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--brown);
  text-shadow: var(--shadow);
}

/* LINKS */
a {
  color: var(--brown);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--orange);
}

/* BUTTONS */
button {
  background-color: var(--yellow);
  border: 2px solid var(--brown);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 0.2s ease;
  font-weight: bold;
  font-size: 1rem;
  color: var(--brown)
  
}

button:hover {
  background-color: var(--orange);
  transform: translateY(-2px);
}

button:disabled {
  background-color: #ccc;    
  border: 2px solid #999;     
  color: #666;            
  cursor: not-allowed;        
  box-shadow: none;            
  transform: none;             
}

button:not(:disabled):hover {
  background-color: var(--orange);
  transform: translateY(-2px);
}


/* FORMS */
input, select, textarea {
  border: 2px solid var(--brown);
  padding: 10px;
  border-radius: var(--radius);
  width: 100%;
}

label {
  font-weight: bold;
  display: block;
}

ul {
  list-style: none; 
}

hr {
  height: 1px;
  background-color: var(--brown);
  border: none;
  margin: 0.5rem 0;
}

/* iPad */
@media (min-width: 768px) {
  body {
    padding: 1rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    h1 {
      font-size: 2.5rem;
    }
  }
}
