.login-container {
  max-width: 400px;
  margin: 80px auto;
  text-align: center;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.login-error {
  color: red;
  margin-bottom: 10px;
}